<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">

    <!-- Medium Style Editor -->

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

    <!-- Fonts -->

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-brand" href="{% url 'post_list' %}">My Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.github.com">Github</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                  </li>
                  <li>
                      <a class="nav-link">Welcome: {{user.username}}</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>


                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- CONTENT BLOCK -->
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
